* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
}

header {
  background-color: #325ea8;
  height: 200px;
  border-bottom-left-radius: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 4px #777;
}

h1 {
  font-size: 6rem;
  color: #fff;
}

#search {
  margin-top: 20px;
  position: relative;
  width: 300px;
  height: 30px;
}

#content-name {
  height: 30px;
  width: 300px;
  padding: 0 20px;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  font-size: 1.8rem;
  outline: none;
}

#search-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 50px;
  background: #ddd;
  border: none;
  border-bottom-right-radius: 20px;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  color: #555;
  cursor: pointer;
  transition: all 0.2s;
}

#search-btn:hover {
  font-size: 20px;
}

#content-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.item {
  height: 295px;
  width: 500px;
  display: flex;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 #aaa;
  position: relative;
  background: #eee;
  border: 3px solid #fff;
}

.img {
  width: 363px;
  height: 100%;
  background-size: cover;
}

.img.no-picture::before {
  content: 'Ooops... Someone stole your picture';
  width: 100%;
  height: 100%;
  display: flex;
  color: #777;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transform: rotate(-30deg);
  margin-left: 10px;
}

.info {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  padding: 10px;
}

.info li {
  list-style: none;
}

.info span {
  font-weight: bold;
}

.item a {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: #777;
  transition: all 0.2s;
}

.item a:hover {
  color: #325ea8;
}

.error {
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 640px) {
  .item {
    width: 363px;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  #content-container {
    padding: 10px;
  }

  .info {
    height: auto;
  }

  .img {
    height: 295px;
    width: 210px;
  }
}

@media (max-width: 535px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 490px) {
  header {
    height: 150px;
    border-bottom-left-radius: 45px;
  }

  #search {
    margin-top: 5px;
  }
}

@media (max-width: 460px) {
  h1 {
    font-size: 4rem;
  }
}
